/* PC */
/* 64em = 1024px
    63.9375 = 1023px
    46.25 = 740px
    16.1875 = 739px
*/
@media (min-width: 1024px){
    #content .member-list{
        display: flex;
        justify-content: space-between;
    }
}
/* Tablet */
@media (min-width: 740px)  and (max-width: 1024px){
    #content .member-list {
            display: flex;
            justify-content: space-between;
    }
    #slider .text-content{
        bottom: 20px;
    }
}
/* Mobile */
@media (max-width: 739px) {
    #slider .text-content {
        bottom: 20px;
    }
    #slider .text-heading {
        font-weight: 400;
        font-size: 22px;
    }
    #nav > li{
        display: block;
    }
    #nav>li :first-child{
        display: inline-block;
    }
    #nav li a{
        padding: 1px 24px;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }
    #header .mobile-menu-btn{
        display: block;
    }  
    #header{
        overflow: hidden;
    }  
    #header .search-btn{
        display: none;
    }
    #nav{
        display: block;
    }
    #content .member-img{  
        width: 60%;
        display: block;   
        margin-left: auto;
        margin-right: auto;
        padding: 12px 0;    
    }
    .place-list{
        display: block;
    }
    .place-item{
        width: 100%;
        margin-bottom: 16px;
    }
    .contact-info{
        margin-bottom: 16px;
    }

    .col-full{
        width: 100%;
    }


}